.venv
__pycache__/                                                                                                           
*.pyc                                                                                                                  
checkpoints/
data/*.h5                                                                                                              
outputs/                                                                                                               
wandb/                                                                                                                 
.ipynb_checkpoints/
